<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.uriah.mmvm.busytoeasy">

    <uses-permission android:name="android.permission.INTERNET" />


    <!--
    Variant: debugAndroidTest
    Config: debug
    Store: C:\Users\Developer\.android\debug.keystore
    Alias: AndroidDebugKey
    MD5: BB:99:9D:FC:C3:64:67:93:1F:4E:92:F5:37:E6:CF:9C
    SHA1: C3:6A:31:A3:30:77:CB:97:4C:E1:C8:FF:46:AD:3E:A7:01:7C:FB:A4
    hash key=w2oxozB3y5dM4cj/Rq0+pwF8+6Q=
    Valid until: Friday, 6 March, 2048
    -->


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.MainActivity">

        </activity>

        <!-- //facebook account kit -->
        <activity
            android:name="com.facebook.accountkit.ui.AccountKitActivity"
            android:theme="@style/AppLoginTheme"
            tools:replace="android:theme" />

        <!-- //facebook account kit -->
        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />

        <activity android:name=".ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>